.container  {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

div {
    width: 200px;
    height: 200px;
}


.one {
    background-color: blue; 
}

.two {
    background-color: black;
}

.three {
    background-color: red;
}

.four {
    background-color: green;
}