html {
    font-size: 62.5%;
}

h1 {
    font-size: 2.4rem;
    color: blue;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 2rem;
    color: #0000ff;
    font-weight: bold;
}

h3 {
    font-size: 1.6rem;
    color: teal;
    font-weight: bold;
}

p {
    color: #4d4d4d;
}

.intro {
    font-weight: bold;
}

a {
    color: #8a2be2;
    text-decoration: none;
}
header {
    width: 100vw;
    height: 40vh;  
    background-image: url(/opdracht_4.1/img/autumnleaves.jpg);
    background-repeat: no-repeat;
    background-position: center;
     
}

header p {
    color: greenyellow;
}

header h1 {
    color: aquamarine;
}

img {
    width: 50vw;
}

article {
    border-radius: 20px;
    border-style: solid;
    border-color: #3fadd8;
    border-width: medium;
    border-left-width: thick;
}