* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html {
  font-size: 62.5%;
}

body {
    font-family: "Goldman", cursive;
    background-color: black;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden
}

nav {
  display: flex;
  width: 100vw;
  padding: 2rem;
  min-height: 10vh;
  align-items: end;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.textnav {
    width: 85vw;
    display: flex;
    justify-content: end;
}

nav li {
  font-weight: 700;
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  color: #00a8c7;
  min-width: 20vw;
  z-index: 1;
  margin-top: 5vh;
}


.dropdown-content a {
  color: #00a8c7;
  padding: 0.8rem 1rem;
  text-align: left;
}

.dropdown:hover .dropdown {
  color: #ffffff;
}

.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
  background-color: #white;
}

.dropdown-content a:hover {
  background-color: #e9e9e9;
}

.dropdown:hover .dropdownbtn {
  background-color: #ffffff;
  color: #00a8c7;
}

.dropdownbtn {
  padding: 7vh;
}

main {
    margin-top: 15vh;
}

.title {
  width: 100vw;
  height: 100vh;
  font-size: 5rem;
  text-align: center;
  background-image: url(./img/hacker.avif);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  display: flex;
  align-items: end;
  margin-bottom: 20vh;
}

h2{
  font-weight: 700;
  text-align: center;
  font-size: 6rem;
}

.parent {
  min-width: 100vw;
  min-height: 100vh;
  font-size: 2rem;
}

.child {
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  margin-top: 8vh;
}

.one {
  width: 70vh;
}

.two {
  width: 70vh;
}

footer {
  width: 100vw;
  padding: 2rem;
  min-height: 10vh;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  background: #00a8c7;
  font-weight: 700;
  font-size: 2rem;
  bottom: 0;
  left: 0;
}

